.header {
  margin: 20px 0;

  display: flex;
  justify-content: center;

  &__title {
    font-family: 'Barriecito', cursive;
    font-size: 40px;
    text-align: center;

    @media all and (min-width: 768px) {
      font-size: 60px;
    }
  }
}