.scene__link {
  background-color: #180500;
  border-radius: 20px;

  width: 200px;
  height: 340px;

  padding: 0 20px;

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  transition: all .2s;

  @media all and (min-width: 480px) {
    width: 280px;
    height: 400px;
  }
}

.scene__link:hover {
  transform: scale(0.98);
  border-radius: 20px;
}


.scene__poster {
  border-radius: 5px;
  box-shadow: 0px 0px 10px 3px #F9D880;

  width: 130px;

  margin-bottom: 5px;
  text-align: center;

  @media all and (min-width: 480px) {
    width: 150px;
  }
}


.scene__title {
  margin-top: 7px;
  font-family: $fontMovieTitle;
  font-size: 20px;
  letter-spacing: 1.5px;

  @media all and (min-width: 480px) {
    font-size: 25px;
  }
}


.scene__fullLine {
  margin-top: 4px;
  font-family: $fontFullLine;
  font-size: 18px;
  line-height: 18px;

  @media all and (min-width: 480px) {
    font-size: 22px;
  }
}


.scene__year {
  margin-top: 4px;
  font-family: $fontYear;
  font-size: 20px;
  letter-spacing: 1.5px;
}



