// Fonts
$fontitle: 'Barriecito', cursive;
$fontMovieTitle: 'Bangers', cursive;
$fontFullLine: 'Annie Use Your Telescope', cursive;
$fontYear: 'Righteous', cursive;
$fontAudio: 'Atma', cursive;


// Colors
$colorWhite: #ffffff;
$colorBlackc: #000000;

$colorGold: #F9D880;
$colorOrange: #B35701;
$colorBrown: #180500;