// Fonts
$fontitle: 'Barriecito', cursive;
$fontMovieTitleSmall: 'Bangers', cursive;
$fontMovieTitleBig: 'Alumni Sans Inline One', cursive;

$fontFullLine: 'Swanky and Moo Moo', cursive;


// Colors
$colorWhite: #ffffff;
$colorBlackc: #000000;

$colorGold: #F9D880;
$colorOrange: #B35701;
$colorBrown: #180500;